<!DOCTYPE html>
<html >

<head>
  <title>{{ title }}</title>
  <meta name="robots" content="index,follow" />

  <script type="text/javascript" src="{{ 'lodash.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'new_common.js' | asset_url }}"></script>
</head>

<body class="adaptive">
  34942992<br/>
  34942519<br/>
  34948127<br/>
  34942883<br/>
  <script type="text/javascript" src="{{ 'tests.js' | asset_url }}"></script>
</body>
</html>
