<!DOCTYPE html>
<html >

<head>
  <title>{{ title }}</title>
  <meta name="robots" content="index,follow" />

  <script type="text/javascript" src="{{ 'new_common.js' | asset_url }}"></script>
</head>

<body class="adaptive">
</body>
</html>
